.header {
    margin: 1em;
    padding: 1em;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.content {
    margin: 1em;
    padding: 1em;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.content p {
    font-size: 1.7em;
    color: #323232;
}



