@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1600px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    top: 0;
    position: absolute;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Poppins', "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

/* > for imidiate :nth-child() */

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    position: relative;
    height: 7px;
    background-color: rgb(40, 40, 40);
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(23, 23, 23, 0.3);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    height: 49px;
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    height: 30px;
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.hero-buttons input{
    height: 30px;
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(246, 238, 238, 0.5);
    background-color: rgba(23, 23, 23, 0.7);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 650px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 130px;
    right: 80px;
    width: 480px;
}

.third img {
    width: 730px;
    position: relative;
    z-index: 10;
}

.third video {
    position: absolute;
    top: 80px;
    right: 130px;
    width: 470px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.feq h2 {
    text-align: center;
    font-size: 48px;
}

.feq {
    background: black;
    color: white;
    padding: 34px;
}

.feqbox {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    transition: all 1s ease-out;
}

.feqbox:hover {
    background-color: #414141;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }
    .first {
        flex-wrap: wrap;
    }

    section.first>div :nth-child(1) {
        font-size: 32px;
    }
    
    section.first>div :nth-child(2) {
        font-size: 18px;
        font-weight: 400;
    }

    .secImg img {
        width: 250px;
    }

    .secImg video {
        width: 180px;
        top: 73px;
        right: 36px;
    }

    .third img {
        width: 330px;
    }

    .third video {
        top: 50px;
        right: 60px;
        width: 200px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .feq h2{
        font-size: 32px;
    }

    .feqbox {
        font-size: 19px;
        max-width: 65vw;
    }

    footer {
        max-width: 90vw;
    }

    .footer-item {
        align-items: center;
    }
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.last div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
}

.footer-copy {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.footer-copy a{
    color: grey;
    text-decoration: none;
    size: 1rem;
}

